@using Do_An.Models;
@model List<ChuDe>


@foreach (var item in Model)
{
    if (item.MaChuDe != 1)
    {
        <a href="@Url.Action("SachTheoChuDe", new { @MaChuDe = item.MaChuDe })" class="btn btn-info">@item.TenChuDe</a>
    }
}

<a href="@Url.Action("DanhMucChuDe")" class="btn btn-info">Chủ đề khác ...</a>


