
@{
    ViewBag.Title = "DatHang";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}


<div style="margin:90px; padding:30px; background:#eee; text-align: center">

    <h1 style="align-content: center; font-size: 40px; color: green; margin: 10px;"> Đặt Hàng Thành Công </h1>
    <img style="width: 150px;" src="~/HinhAnh/Image/DatHangThanhCong.png" />
</div>


