
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}

<h2 style="color: red; margin: 60px; text-align:center;">

    Mọi chi tiết xin liên hệ địa chỉ: PhungHuyenTrang@gmail.com
    Đại Học Công Nghiệp Hà Nội

</h2>

